#container{
    max-width: 300px;
    margin-left: 450px;
    margin-top: 150px;
}

#grid{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#tile11{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}

#tile12{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}

#tile13{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
}


#tile21{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}


#tile22{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}


#tile23{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
}


#tile31{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-right: 0px;
}

#tile32{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-right: 0px;
}

#tile33{
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

#img1{
    width: 50px;
    height: 50px;
}


#img2{
    width: 50px;
    height: 50px;
}